

<!--@subject {{trans "Test E-Mail from your Shop"}} @-->

{{template config_path="design/email/header_template"}}

<h2>{{trans "Test E-Mail from your Shop!"}}</h2>
<h4><b>{{trans "It Works!"}}</b></h4>
<p>{{trans "Congratulations - Your Shop has been successfully connected to your Mail Server."}}</p>
<p>{{trans "Special Chars:"}} ö ä ü Ö Ä Ü ß § $ % / * - + ( ) ? = </p>

{{template config_path="design/email/footer_template"}}
