<?php

/** \Cf\TestMail\Block\Adminhtml\SendButton $block */
?>

<div class="actions actions-test-email">
    <button class="actions-test-email" type="button" id="<?php echo $block->getHtmlId() ?>">
        <span><?php echo $block->escapeHtml($block->getButtonLabel()) ?></span>
    </button>
</div>
<script type="text/x-magento-init">
    {
        "#system_smtp_send_testmail": {
            "cf/testmail": {
                "ajaxUrl": "<?php echo $block->getButtonUrl() ?>"
            }
        }
    }
</script>
